# GitHub Package Registry
GITHUB_PACKAGES_USERNAME=STR
GITHUB_PACKAGES_TOKEN=STR

# Infrastructure (Central)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=portfolio
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
DATABASE_URL=postgresql://postgres:password@host.docker.internal:5432/portfolio

MONGODB_URL=mongodb://admin:password@host.docker.internal:27017/auth_service?authSource=admin
MONGODB_DATABASE=auth_service
MONGODB_USERNAME=admin
MONGODB_PASSWORD=password

REDIS_URL=redis://:password@host.docker.internal:6379/0

# Application Configuration
DOMAIN=localhost
ENVIRONMENT=docker

# JWT Secrets
JWT_SECRET=STR
INTERNAL_JWT_SECRET=STR
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# External Auth Providers (Placeholders)
GOOGLE_CLIENT_ID=STR
GOOGLE_CLIENT_SECRET=STR
